body {
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    color: #444444;
    margin: 0;

}
* {
    box-sizing: border-box;

}

.mono {
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;

}